 .container-fluid img {
     margin-left: -10px;
     height: 50px;
     filter: invert();
 }
 nav{
    background-color: red;
 }
 #navinput{
    background-color: white;
    height: 35px;
    width: 65%;
 }

 #navsrchbtn{
    color: red;
    background-color: white;
    height: 35px;
 }

 .nav-item{
    position: relative;
    width: fit-content;
 }

 .nav-item:hover::after {


    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3%;
    width: 100%;
    background-color: red;
    animation: colo 0.5s linear;
}

@keyframes colo {
    from {
        height: 3%;
        width: 10%;
        left: 50%;
    }

    to {
        height: 3%;
        width: 100%;
    }

}
